/* global */

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.profile-picture {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-image: url('profile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-data {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100%;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-top: 10vmin;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-bottom: 10vmin;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: #101214;
    color: #7A7C80;
    font-size: 1vmin;
}

h2,
.white {
    color: #fff;
}

a {
    color: #7A7C80;
    text-decoration: none;
}


/* section 1 */

.section-1 {
    text-align: center;
}

.section-1 p {
    font-size: 2vmin;
    padding-bottom: 1vmin;
    margin: 0;
}

.section-1 h2 {
    font-size: 3vmin;
    margin-bottom: 1vmin;
}

.section-1 a {
    font-size: 3vmin;
    padding: 1vmin;
}


/* section 2 */

.section-2 h2 {
    font-size: 2.3vmin;
    margin-bottom: 1vmin;
}

.section-2 p {
    font-size: 2.2vmin;
    padding-bottom: 1vmin;
    margin: 0;
}


/* animations / utilities */

.section-2 a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}