/* global */

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    filter: unset;
    background-color: black;
    overflow: hidden;
}

.profile-picture {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    animation: fadeIn 1s ease-in-out;
    background-image:
        url('https://s.gravatar.com/avatar/f00946fbd1a30d45a1122c2d1b7cb966?s=2048');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background {
    background-size: cover;
    animation: fadeInBlurry 1s ease-in-out;
    filter: blur(50px);
}

@keyframes fadeIn {
    from {
        opacity: 0%;
        filter: blur(100px);
    }

    to {
        opacity: 100%;
        filter: blur(0px);
    }
}

@keyframes fadeInBlurry {
    from {
        opacity: 0%;
        filter: blur(100px);
    }

    to {
        opacity: 100%;
        filter: blur(50px);
    }
}

@keyframes slideIn {
    from {
        left: 100%;
    }

    to {
        left: 70%;
    }
}

.profile-data {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 70%;
    width: 30%;
    height: 100%;
    animation: slideIn 1s ease-in-out;
    filter: none;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-top: 10vmin;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding-bottom: 5vmin;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
    background-color: #101214;
    color: #7A7C80;
    font-size: 1vmin;
}

h2,
.white {
    color: #fff;
}

a {
    color: #7A7C80;
    text-decoration: none;
}


/* section 1 */

.section-1 {
    text-align: center;
}

.section-1 p {
    font-size: 2vmin;
    padding-bottom: 1vmin;
    margin: 0;
}

.section-1 h2 {
    font-size: 3vmin;
    margin-bottom: 1vmin;
}

.section-1 a {
    font-size: 3vmin;
    padding: 1vmin;
}


/* section 2 */

.section-2 h2 {
    font-size: 2.3vmin;
    margin-bottom: 1vmin;
}

.section-2 p {
    font-size: 2.2vmin;
    padding-bottom: 1vmin;
    margin: 0;
}


/* animations / utilities */

.section-2 a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

pre code {
    white-space: pre-wrap !important;
}

#container {
    perspective: 1000px;
}

#flip-container {
    perspective: 1000px;
}

#container {
    transform-style: preserve-3d;
}

pre {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(100px) !important;
    backface-visibility: hidden;
}

@keyframes flip-first-half {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-second-half {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.flip-first-half {
    animation: flip-first-half 0.3s ease-out forwards;
}

.flip-second-half {
    animation: flip-second-half 0.3s ease-in forwards;
}